html{ font-size: 100px; }
body{
    min-width: 320px;/*为什么这里不能用rem，因为这是body的宽度，如果用rem那就一直都是1，没有办法缩小*/
    max-width: 640px;
    height: 3000px;
    font-size: 16px;
    margin: auto;
}
.content{ width: 6rem; margin: auto; }
/*header部分*/
header.header{ position: fixed; left: 0; top: 0; right: 0; margin: auto; z-index: 9999; height: 0.3rem; width: 6.4rem;  padding: 0.05rem 0; }
header.header .left input{ width: 5.3rem;  height: 0.3rem; font-size: 0.16rem; text-indent: 0.7rem; outline: none; border-radius: 0.2rem;
    background:  url("../img/header/jd.png")no-repeat 0.1rem center/auto 60%,
    #fff url("../img/header/search.png")no-repeat 0.4rem center/auto 60% ;
    /*注意：多背景，颜色要放在最后一个背景里面*/
}
header.header .content{ position: relative; }
header.header .content .right a{ position: absolute; right: 0.1rem; top: calc(50% - 0.1rem); color: #fff; font-size: 0.16rem;}

/*swiper轮播图*/
.swiper-container{ width: 6.4rem; }
.swiper-container img{ width: 6.4rem; }